﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - NGUYEN VAN TRUNG </title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div>@Html.Partial("HeaderPartial")</div>
        <div class="float-right">
            @Html.Partial("LogOnPartial")
        </div>
        <nav class="mainMenu clear-both">@Html.Partial("MenuAdminPartial")</nav>
    </header>
    <div class="body">
         @RenderBody()
    </div>
    <footer>
        @Html.Partial("FooterPartial")
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
