﻿<a href="@Url.Action("Index","Product")">Trang Chủ</a>
<a href="http://localhost:3436/Product/ProductId/1">Card bán lẻ</a>
<a href="http://localhost:3436/Product/ProductId/2">Nguyên bộ</a>
<a href="http://localhost:3436/Product/ProductId/3">Sản phẩm khác</a>
<a href="http://localhost:3436/Account/Logon">Đăng nhập</a>
<a href="http://localhost:3436/Account/Create">Đăng ký tài khoản</a>

